.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    aspect-ratio: 1/1;
    margin: 0px 25% 25% 25%;
    width: auto;
    border-style: solid;
}

.gridColumn{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.square {
    display: flex;
    flex-grow: 1;
    /* change this? */
    flex-basis: 50px;

    border-style: dotted;
    border-width: 1px;
    justify-content: center;
    align-items: center;
}


#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 25px;
}